{
  "printWidth": 80, // 決定單行最大寬度
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  // Prettier 處理三元運算符換行通常會自動處理，但可嘗試以下設定
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "trailingComma": "es5"
}